@model SignalRChat.Site.WebApi.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pau Torrent's Chat</h1>
    <p class="lead">This is a PoC of a SignalR instant chat in ASP.NET</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            Hi @Html.Raw(Model.SessionUser.Username)! Please, choose a user to start chatting!
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var user in Model.Users)
            {
                <li><a href="@Href($"~/chat/{user.Id}")">@Html.Raw(user.Username)</a></li>
            }
        </ul>
    </div>
</div>