@{
    ViewBag.Title = "Sign in";
}

<h2>Chat</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Sign up</h1>
            <p>Please, sign up to our system in order to use all the services!</p>
            <div class="row">
                <input id="register-username" placeholder="Username" />
            </div>
            <div class="row">
                <input id="register-password" placeholder="Password" type="password" />
            </div>
            <div class="row">
                <input id="register-email" placeholder="Email" type="email" />
            </div>

            <button id="register-button" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-6">
            <h1>Sign in</h1>
            <p>Already a user? Enter your credentials</p>
            <div class="row">
                <input id="login-username" placeholder="Username" />
            </div>
            <div class="row">
                <input id="login-password" placeholder="Password" type="password" />
            </div>
            
            <button id="login-button" class="btn btn-primary">Sign in</button>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var register = new SignalRChat.Class.Register();
        var registerJson = {
            EmailInputId: "register-email",
            UsernameInputId: "register-username",
            PasswordInputId: "register-password",
            SubmitButtonId: "register-button"
        };
        register.init(registerJson);

        var login = new SignalRChat.Class.Login();
        var loginJson = {
            UsernameInputId: "login-username",
            PasswordInputId: "login-password",
            SubmitButtonId: "login-button"
        };
        login.init(loginJson);
    </script>
}